{% extends 'base.html.twig' %}

{% block title %} Edit Address Book Record {% endblock %}

{% block body %}
    
    <h2 class="page-header">Add to Address Book</h2>

    <div class="col-md-6">
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
    </div>    

{% endblock %}